<!-- <header class="home">
	<h1>Free Cutout Images</h1>
	<p>The best place to find and share background-free images.</p>
</header> -->
<section id="home-banner">
	<div class="container no-pad">
		<div id="home-search">
			<h2>Search for Cutout Images</h2>
		  <%= form_tag search_index_path, :method => :get do %>
		    <%= search_field_tag :search, params[:search], autofocus: true %>
		    <%= submit_tag :search %>
			<% end %>
		</div>
	</div>
</section>

<section class="uploads-index">
	<div class="container">
		<div id="home-uploads">
			<h2>Most Popular Images</h2>
			<%= link_to "(browse all)", uploads_path, class: "more-link" %>
			<div class="most-popular-uploads flex-container">
			<% if @most_popular.any? %>
			  <%= render @most_popular %>
			<% end %>
			<% 6.times do %>
				<div class="upload"></div>
			<% end %>
			</div>
		</div>
	</div>
</section>

<section id="home-tags">
	<div class="container">
		<h2>Most Popular Tags</h2>
		<div class="tag-items most-popular-home">
			<% @most_used_tags.each do |tag| %>
				<%= link_to tag.name, tag_path(tag.name), class: "tag" %>
			<% end %>
		</div>
	</div>
</section>