<% present(comment) do |comment| %>
  <div class="comment" id="comment-<%= comment.id %>">
    <table>
      <tr>
        <td>
          <%= link_to user_path(comment.commenter), class: "media-figure" do %>
            <%= image_tag comment.commenter_avatar, class: "avatar" %>
          <% end %>
        </td>
        <td>
          <div class="details">
            <%= link_to "@#{comment.commenter.username}", user_path(comment.commenter), class: "username media-figure" %>
            <%= comment.reply_name %>
            <span><%= time_ago_in_words(comment.created_at) %> ago</span>
          </div>
          <div class="body">
            <%= comment.body %>
          </div>
          <div class="interactions">
            <%= link_to 'reply', new_comment_path(id: comment.commentee_id, parent_id: comment.id), remote: true if policy(comment).create? %>
            <% if policy(comment).destroy? %>
              | 
              <%= link_to "delete", comment, remote: true, method: :delete, data: { confirm: "are you sure?" }, class: "delete" %>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>
<% end %>
