<%= form_tag search_index_path, :method => :get do %>
  <div id="home-search-form">
    <%= search_field_tag :search, params[:search], id: "upload-search" %>

    <button id="search-submit" class='search-icon'>
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="search-tools">
    <div id="category-filter" class="search-filter">
      <label class="filter-label">Category</label>
      <div class="dropdown">
        <ol>
          <% Upload.categories.map do |k, v| %>
            <li>
              <%=	check_box_tag "category_id[]", v, false, class: "category-checkbox", id: "category#{v}" %>
              <%=	label_tag "category#{v}", k.humanize, value: k, class: "category-select checkbox-select", id: "category#{v}" %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>

    <div id="perspective-filter" class="search-filter">
      <label class="filter-label">Perspective</label>
      <div class="dropdown">
        <ol>
          <% Upload.perspectives.map do |k, v| %>
            <li>
              <%=	check_box_tag "perspective_id[]", v, false, class: "perspective-checkbox", id: "perspective#{v}" %>
              <%=	label_tag "perspective#{v}", k.humanize, value: k, class: "perspective-select checkbox-select", id: "perspective#{v}" %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

<% end %>
