<div class="dropdown">
  <div class="dropdown-container">
    <p class="dropdown-button">Filter</p>
    <ul class="dropdown-menu dropdown-select">
      <li id="results-filter-heading">
        <p>Filter</p>
        <%= link_to "Clear All", query.merge({category_id: nil, perspective_id: nil}) %>
      </li>
      <% Upload.enum_list.each do |attribute| %>
        <li id=<%= "#{attribute}-filter" %> class="results-subfilter">
          <a href="javascript:void(0)"><%= attribute %></a>
        </li>
        <ul class="results-subfilter-items">
          <% for row in @search.facet("#{attribute}_id").rows %>
            <li>
              <% query.init("#{attribute}_id", row.value) %>
              <%= link_to query.toggle, class: query.status do %>
                <i class="<%= query.icon %>"></i><%=  Upload.enum_id_name(attribute, row.value) %>
            <% end %>
            <%= query.count(row.count) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </div>
</div>
