<% if @uploads %>

	<h6>Images matching: <%= @query %> (<%= @total_results %>)</h6>
	<div class="flex-container">
		<%= render @uploads %>
		<% 6.times do %>
			<div class="upload"></div>
		<% end %>
	</div>
	<%= will_paginate @uploads%>

<% else %>

	<h6>No results for: <%= @query %></h6>

<% end %>