<% if @uploads %>

<section class="uploads-index-filter">
		<p class="upload-results-num"><%= pluralize(@total_results, "Result") %></p>
    <div class="results-filter">
      <%= render 'search/upload_results_filter_form' %>
  	</div>
</section>

<div class="container">
  <section id="uploads-search-results" class="flex-container">
  	<%= render @uploads %>
  	<% 6.times do %>
  		<div class="upload"></div>
  	<% end %>
  </section>
  <%= will_paginate @uploads%>

  <% else %>

  	<h6>No results for: <%= @query %></h6>

  <% end %>
</div>