<% if @uploads %>

<section class="uploads-index-filter">
	<div class="container no-pad">
		<%= render 'search/upload_search_form' %>

		<h2>Images matching: <%= @query.humanize %> (<%= @total_results %>)</h2>
	</div>
</section>

	<div class="flex-container">
		<%= render @uploads %>
		<% 6.times do %>
			<div class="upload"></div>
		<% end %>
	</div>
	<%= will_paginate @uploads%>

<% else %>

	<h6>No results for: <%= @query %></h6>

<% end %>