<% present(@query, QueryPresenter) do |query| %>

	<div class="full-container">

		<% if @uploads %>

		<section id="uploads-results-count" class="mobile-filter">
		  <p><%= raw query.query_text(@total_results) %></p>
		  <%= render partial: 'upload_results_sort_form', locals: { query: query } %>
		</section>

		<section id="uploads-index-filter" class="mobile-filter">
		  <%= render partial: 'upload_results_filter_form', locals: { query: query } %>
		</section>

		<section id="uploads-search-results" class="flex-container">
			<%= render @uploads %>
			<% 6.times do %>
				<div class="upload"></div>
			<% end %>
		</section>
		<%= will_paginate @uploads%>

		<% else %>

			<h6>No results for: <%= @query %></h6>

		<% end %>
	</div>
<% end %>