<div id="edit-user-avatar" class="modal">
  <label for="modal-edit-avatar">
    <div class="modal-trigger">
      <%= image_tag @user.avatar.url(:profile), id: "profile-avatar", class: "avatar" %>
      <div class="hover-overlay">
        <i class="fa fa-camera"></i>
      </div>
    </div>
  </label>
  <input class="modal-state" id="modal-edit-avatar" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-saving overlay">
        <p>saving image</p>
      </div>
      <div class="modal-close" for="modal-edit-avatar"></div>
      <h2>Edit Profile Picture</h2>
      <div class="modal-left">
        <div id="avatar-preview-container" class="avatar">
          <%= image_tag @user.avatar.url(:original), id: "avatar-preview" %>
        </div>
        <div id="file-upload">
          <span>Upload new image</span>
          <%= a.file_field :avatar, id: "avatar-upload" %>
        </div>
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
          <%= a.hidden_field attribute, :id => attribute %>
        <% end %>
        <%= a.submit "Save", id: "submit-crop" %>
      </div>
      <div class="modal-right">
        <%= image_tag @user.avatar.url(:original), :id => "cropbox",
          data: {
            width: @user.avatar_original_width,
            crop_x: @user.crop_x,
            crop_y: @user.crop_y,
            crop_w: @user.crop_w,
            crop_h: @user.crop_h,
            image_url: @user.avatar.url(:original)
          } %>
      </div>
    </div>
  </div>
</div>
