<% provide(:title, 'Edit profile') %>

<div class="gateway-form">

  <h1>Update Your Profile</h1>

  <div class="edit_form">

    <%= form_for @user, html: {class: "signup-form", id: "edit-user-form"} do |a| %>
      <%= render 'crop', a: a %>
    <% end %>

    <%= form_for @user, html: {class: "signup-form", id: "edit-user-form"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save Changes" %>
    <% end %>

    <%= link_to "delete account", @user, method: :delete, data: { confirm: "delete your account?" }, id: "delete-user" %>

  </div>
</div>
