<% provide(:title, 'Edit profile') %>
<h1>Update Your Profile</h1>


<%= link_to 'http://gravatar.com/emails', target: "blank" do %>
	<div class="gravatar_edit">
	  <%= gravatar_for @user %>
	</div>
<% end %>


<div class="edit_form">
	<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
		<%= f.label :email %>
		<%= f.email_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation, "Password Confirmation" %>
		<%= f.password_field :password_confirmation %>

		<%= f.submit "Save Changes" %>
	<% end %>

</div>