<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="signup_form">
	<%= form_for(@user) do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit "Create Profile" %>

		<h5>Or login using another account:</h5>
		<%= link_to "facebook", '/auth/facebook' %>
		<%= link_to "google", '/auth/google_oauth2' %>
	<% end %>
</div>
