<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="signup_form">
	<%= form_for @user do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit "Create Profile" %>

		<h5>Or login using another account:</h5>
	<%= link_to '/auth/google_oauth2' do %>
	  <button class="google">Log In With Google</button>
  <% end %>

	<%= link_to '/auth/facebook' do %>
  	<button class="facebook">Log In With Facebook</button>
  <% end %>
	<% end %>
</div>
