<% provide(:title, @user.name) %>
<div class="user_profile">
  <aside>
    <section class="user-info">
      <%= gravatar_for @user, size: 250 %>
      <h2><%= @user.name %></h2>
    </section>
    <% if current_user?(@user) %>
	   <%= link_to new_upload_path do %>
       <button>Upload</button>
     <% end %>
    <% end %>
  </aside>
</div>
<div class="user-uploads">
  <% if @user.uploads.any? %>
    <h5>Uploads: (<%= @user.uploads.count %>)</h5>
    <div class="uploads-profile">
      <%= render @uploads %>
    </div>
    <%= will_paginate @uploads%>
  <% end %>
</div>