<% provide(:title, @user.name) %>
<div class="user_profile">
  <aside>
    <section class="user-info">
      <%= gravatar_for @user %>
      <h2><%= @user.name %></h2>
    </section>
  </aside>
</div>
<div class="user-uploads">
  <% if @user.uploads.any? %>
    <h3>Uploads: (<%= @user.uploads.count %>)</h3>
    <div class="uploads-profile">
      <%= render @uploads %>
    </div>
    <%= will_paginate @uploads%>
  <% end %>
</div>