<% provide(:title, @user.name) %>
<section class="user_profile">
  <div class="user-info">
    <%= image_tag @user.avatar.url(:profile), class: "avatar" %>
    <h1 class="user-name"><%= @user.name %></h3>
  </div>
  <p id="user-created-date">Joined: <%= @user.created_at.strftime("%B %Y") %></p>
  <div class="user-stats stats">
    <ul>
      <li><%= @user.approved_uploads_count %><span>Uploads</span></li>
      <li><%= @user.views_count %><span>Image Views</span></li>
      <li><%= @user.downloads_count %><span>Downloaded</span></li>
      <li><%= @user.favorites_count %><span>Favorited</span></li>
    </ul>
  </div>
  <% if current_user?(@user) %>
   <%= link_to new_upload_path do %>
     <button class="upload-btn">Upload</button>
   <% end %>
  <% end %>
</section>
<section class="uploads-index">
  <div class="container">
    <div id="user-sort-tabs" class="tabs">
      <%= link_to "Uploads (#{@user.approved_uploads_count})", { controller: "users", action: "show", id: @user, filter_uploads: "approved" }, remote: true, class: "active" %>
      <% if policy(@user).update? %>
        <%= link_to "Awaiting Approval (#{@user.uploads.where(approved: false).count})", { controller: "users", action: "show", id: @user, filter_uploads: "unapproved" }, remote: true %>
        <%= link_to "Favorites (#{@user.favoriting.count})", { controller: "users", action: "show", id: @user, filter_uploads: "favorites" }, remote: true  %>
      <% end %>
    </div>
    <div class="user-uploads">
      <% if @user.uploads.any? %>
        <%= render @uploads %>
      <% end %>
    </div>
    <div id="infinite-scrolling">
      <%= will_paginate @uploads%>
    </div>
  </div>
</section>