<% provide(:title, @user.name) %>
<section class="user_profile">
  <div class="user-info">
    <%= image_tag @user.avatar.url(:profile), class: "avatar" %>
    <h1 class="user-name"><%= @user.name %></h3>
  </div>
  <p id="user-created-date">Joined: <%= @user.created_at.strftime("%B %Y") %></p>
  <div class="user-stats stats">
    <ul>
      <li><%= @user.uploads.count %><span>Uploads</span></li>
      <li><%= @user.total_user_views %><span>Views</span></li>
      <li><%= @user.total_user_downloads %><span>Downloads</span></li>
      <li><%= @user.total_user_likes %><span>Likes</span></li>
    </ul>
  </div>
  <% if current_user?(@user) %>
   <%= link_to new_upload_path do %>
     <button class="upload-btn">Upload</button>
   <% end %>
  <% end %>
</section>
<section class="uploads-index">
  <div class="container">
    <div class="user-uploads flex-container">
      <% if @user.uploads.any? %>
        <%= render @uploads %>
      <% end %>
      <% 6.times do %>
        <div class="upload"></div>
      <% end %>
    </div>
  <%= will_paginate @uploads%>
  </div>
</section>