<%= link_to upload.user, class: "upload-thumb", id: "upload-#{upload.id}" do %>
	<div class="upload-stats">
		<span class="upload-views">Views: <%= upload.views %></span>
		<span class="upload-downloads">Downloads: <%= upload.downloads %></span>
		<span class="upload-likes">Likes: <%= upload.likes %></span>
	</div>
	<div class="upload-tags">
		Tags: <%= upload.tags %>
	</div>
<% end %>