<section class="uploads-index-filter">
	
</section>

<% unless @uploads.nil? %>

<div class="uploads-index-header">
	<% if @tag_name || @query%>
		<h1>Images matching: <span class="query"><%= @tag_name || @query %></span> (<%= @total_results %>)</h1>
	<% end %>
</div>

  <section class="uploads-index">
    <%= will_paginate @uploads%>
  	<div class="container flex-container">
			<%= render @uploads %>
			<% 6.times do %>
				<div class="upload"></div>
			<% end %>
		</div>
	  <%= will_paginate @uploads%>
	</section>

<% else %>
	<div class="uploads-index-header">
	<% if @tag_name || @query%>
		<h1>Sorry, no images matching: <span class="query"><%= @tag_name || @query %></span> were found.</h1>
	<% end %>
</div>

<% end %>