<% present(@upload) do |upload| %>

	<%= content_tag :div, class: "upload-single card #{upload.approval_class}" do -%>
		<%= image_tag upload.src(:large) %>
	<% end -%>

	<div class="upload-info">
		<div class="upload-stats card">
			<h6 class="title">Stats</h6>
			<div class="single-upload-stats stats">
		    <ul>
					<li><%= upload.views %><span>Views</span></li>
					<li><span id="downloads"><%= upload.downloads %></span><span>Downloads</span></li>
					<li><span id="likes"><%= upload.likes_count %></span><span>Likes</span></li>
		    </ul>
		  </div>
	  </div>

		<div class="upload-tags card">
			<h6 class="title">Tags</h6>
			<div class="tags-list">
				<div class="tag-items">
					<%= render upload.tags %>
				</div>
					<%= render 'acts_as_taggable_on/tags/update_form' %>
			</div>
			<% if policy(upload).update? %>
				<button id="update-tags-btn" class="hidden btn">Update</button>		
				<%= link_to 'Edit Tags', edit_upload_path(upload), class: "js-link", id: "edit-tags-link", remote: true %>
			<% end %>
		</div>

		<div class="upload-perspective card">
			<h6 class="title">Perspective</h6>
			<div class="perspective" id="selected-perspective">
				<%= link_to upload.perspective.humanize, search_index_path(perspective: Upload.perspectives[upload.perspective]), class: "perspective" %>
			</div>
			<%= render 'perspective_form' %>
			<% if policy(upload).update? %>
				<button id="update-perspective-btn" class="hidden btn">Update</button>		
				<%= link_to 'Edit Perspective', edit_upload_path(upload), class: "js-link", id: "edit-perspective-link", remote: true %>
			<% end %>
		</div>

		<div class="upload-interaction card">
			<h6 class="title">Download</h6>
			<%= render partial: "download", locals: {upload: @upload} %>
			<%= render 'relationships/like_form' if logged_in? %>
			<%= render 'upload_moderation/moderation_form' if logged_in? && current_user.admin? %>
			<% if current_user.admin? %>
				<%= form_for upload, method: :delete, html: {class: "upload-interaction", data: { confirm: "You sure?" }} do |f| %>
				  <%= hidden_field_tag :approved, true %>
					<%= f.button class: "icon" do %>
						<i class="fa fa-ban fa-lg"></i>
					<% end %>
				<% end %>			  
		  <% end %>
  		</div>
	</div>

<% end %>