<p id="notice"><%= notice %></p>


<div class="item-image">
	<%= image_tag @upload.image_file_name %>
</div>

<div class="item-info">
<p>
  <strong>Tags:</strong>
  <%= @upload.tag_list %>
</p>

<p>
  <strong>Perspective:</strong>
  <%= @upload.perspective %>
</p>

<p>
  <div class="stats">
  <ul>
    <li><%= @upload.impressionist_count(:message=>"view") %><span>Views</span></li>
    <li><%= @upload.impressionist_count(:message=>"download", :filter=>:session_hash) %><span>Downloads</span></li>
  </ul>
</div>
</p>

<%= link_to 'Download', @upload.image_file_name, class: "btn btn-info" %>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
</div>
