<div class="img-show">
	<% if @upload.approved? %>
		<%= image_tag @upload.image(:large), class: 'thumb approved', alt: @upload.image.url(:large)  %>
	<% else %>
		<%= image_tag @upload.image(:large), class: 'thumb unapproved', alt: @upload.image.url(:large)  %>
	<% end %>
</div>

<p>Views: <%= @upload.views %></p>
<p>Downloads: <%= @upload.downloads %></p>
<p>Likes: <span id="likes"><%= @upload.likers.count %></span></p>

<%= render 'relationships/like_form' if logged_in? %>
<%= render 'upload_moderation/moderation_form' if logged_in? && current_user.admin? %>