<% present(@upload) do |upload| %>

  <div class="upload-single-left-content">
    <%= render partial: "image", locals: {upload: upload} %>
    <%= render partial: "interactions", locals: {upload: upload} %>
  </div>

  <div class="upload-info">
    <%= render partial: "clipper_card", locals: {upload: upload} %>
    <%= render partial: "tags_card", locals: {upload: upload} %>
    <%= render partial: "details_card", locals: {upload: upload} %>
  </div>

<% end %>
