<%= form_for @entourage_item, :url => entourage_items_path, :html => { :multipart => true } do |f| %>
  <% if @entourage_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entourage_item.errors.count, "error") %> prohibited this entourage_item from being saved:</h2>

      <ul>
      <% @entourage_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :perspective %><br>
    <%= f.select :perspective, options_for_select(EntourageItem.perspectives.map {|k, v| [k, k]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
