<p id="notice"><%= notice %></p>


<div class="item-image">
	<%= image_tag @entourage_item.image.url %>
</div>

<div class="item-info">
<p>
  <strong>Tags:</strong>
  <%= @entourage_item.tag_list %>
</p>

<p>
  <strong>Perspective:</strong>
  <%= @entourage_item.perspective %>
</p>

<p>
  <div class="stats">
  <ul>
    <li><%= @entourage_item.impressionist_count(:message=>"view") %><span>Views</span></li>
    <li><%= @entourage_item.impressionist_count(:message=>"download", :filter=>:session_hash) %><span>Downloads</span></li>
  </ul>
</div>
</p>

<%= link_to 'Download', download_entourage_item_path(@entourage_item), class: "btn btn-info" %>

<%= link_to 'Edit', edit_entourage_item_path(@entourage_item) %> |
<%= link_to 'Back', entourage_items_path %>
</div>
