<p id="notice"><%= notice %></p>

<%= image_tag @entourage_item.image.url %>

<p>
  <strong>Tags:</strong>
  <%= @entourage_item.tag_list %>
</p>

<p>
  <strong>Perspective:</strong>
  <%= @entourage_item.perspective %>
</p>

<%= link_to 'Edit', edit_entourage_item_path(@entourage_item) %> |
<%= link_to 'Back', entourage_items_path %>
