<footer class="footer-2" role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-logo">
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag "logo-footer.png", alt: 'Logo Image' %>
      <% end %>
    </div>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><%= link_to "Terms and Conditions", terms_path %></li>
        <li><%= link_to "Privacy Policy", privacy_path %></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
  </div>
</footer>