<header class="navigation" role="banner">
  <div class="navigation-wrapper">
	  <%= link_to root_path, class: "logo" do %>
		  <%= image_tag "logo-header.png", alt: 'Logo Image' %>
		<% end %>
		<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
		<nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
		    <li class="nav-link"><%= link_to "About", about_path %></li>
		    <li class="nav-link"><%= link_to "Help", help_path %></li>
		    <li class="nav-link"><%= link_to "Contact", contact_path %></li>
      <% if logged_in? %>
        <li class="nav-link more"><a href="javascript:void(0)">Account</a>
          <ul class="submenu">
            <li class="nav-link"><%= link_to "My Images", current_user %></li>
            <li class="nav-link"><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="nav-link"><%= link_to "Log out", logout_path, method: "delete" %></li>
            <li><%= link_to "All Users", users_path %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-link"><%= link_to "Log In", login_path, class: "login" %></li>
        <%= link_to signup_path do %>
          <button>Sign Up</button>
        <% end %>
      <% end %>
		  </ul>
		</nav>
		<div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</header>

<div class="js-menu-screen sliding-menu-fade-screen"></div>

    