<!DOCTYPE html>
<html>
<head>
  <title>Clipped</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag("//use.typekit.com/fut5bbc.js") %>
  <%= javascript_tag("try{Typekit.load()}catch(e){}") %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'refills/navigation' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="main-container">
<%= yield %>
</div>
</body>
</html>
