<!DOCTYPE html>
<html>
	<%= render 'layouts/head' %>
<body class="<%= controller_name %> <%= action_name %>">
	<%= render 'layouts/header' %>
	<%= render 'layouts/flash' %>
		<%= yield %>
	<%= render 'layouts/footer' %>
</body>
</html>